<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Medical Permit Certificate</title>
</head>
<body style="margin:0; padding:0; font-family: DejaVu Sans, sans-serif; font-size:11pt;">

<div style="width:100%; border:3px solid #d4af37; padding:10px; box-sizing:border-box; text-align:center;">

    <!-- Title -->
    <h1 style="font-size:26pt; font-weight:bold; color:#d4af37; margin:0 0 20px 0; text-transform:uppercase;">
      PERMIT
    </h1>

    <!-- Details Table -->
<!--     <table style="width:100%; font-size:11pt; color:#555; border-collapse:collapse; margin-bottom:20px;"> -->
<table>
        <tr>
            <td style="text-align:right; padding:5px;"><b>Granted to:</b></td>
            <td style="text-align:right; padding:5px;"><span data-placeholder="principal_name"></span></td>
            <td style="text-align:right; padding:5px;"><b>Of:</b></td>
            <td style="text-align:right; padding:5px;"><span data-placeholder="broker_name"></span></td>
        </tr>
</table>
<table>
<tr>
            <td style="text-align:right; padding:5px;"><b>Acting as an Insurance:</b></td>
            <td></td>
            <td style="text-align:right; padding:5px;"><span data-placeholder="permit_type"></span></td>
            <td></td>
        </tr>
</table>
<table>
<tr>
            <td style="text-align:right; padding:5px;"><b>Address:</b></td>
            <td style="text-align:right; padding:5px;"><span data-placeholder="address1"></span></td></tr>
            <tr><td> </td>
            <td style="text-align:right; padding:5px;"><span data-placeholder="address2"></span></td></tr>
            <tr><td> </td>
            <td style="text-align:right; padding:5px;"><span data-placeholder="address3"></span></td></tr>
            <tr><td></td>
            <td style="text-align:right; padding:5px;"><span data-placeholder="address4"></span></td>
        </tr>
</table>
<table>
        <tr>
            <td style="text-align:right; padding:5px;"><b>Permit Granted on:</b></td>
            <td style="text-align:right; padding:5px;"><b><i><span data-placeholder="grant_date"></span></i></b></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <!-- Footer -->
    <div style="border-top:1px solid #d4af37; padding-top:5px; font-size:9pt; color:#555;">
        COMPANY Licensing Authority
<img src="/comapny/license.jpg" style="height:50px;" alt="COMPANY Logo">
    </div>

</div>
</body>
</html>

